<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <style>
            * {
                margin: 0px;
                padding: 0px;
                text-decoration: none;
                font-family:sans-serif;
            }

            .body {
                padding-top: 50px;
                padding-left: 50px;
                padding-right: 50px;
            }
        </style>
    </head>
    <body>
        <form>
            <h1>직장 및 소득정보를 입력해주세요</h1>
        </form>
    </body>
</html>